src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:selenium="http://www.mulesoft.org/schema/mule/selenium"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/selenium http://www.mulesoft.org/schema/mule/selenium/current/mule-selenium.xsd">

    <selenium:config />

    <flow name="testQueryGoogle">
        <selenium:get url="http://www.google.com"/>
        <selenium:find-element elementName="q"/>
        <selenium:send-keys keys="Cheese!"/>
        <selenium:submit/>
        <selenium:until timeOutInSeconds="10">
            <selenium:get-title/>
            <script:transformer>
                <script:script engine="Groovy">
                        if (payload.toLowerCase().startsWith("cheese!")) {
                        return true;
                        } else {
                        return false;
                        }
                </script:script>
            </script:transformer>
        </selenium:until>
    </flow>

</mule>